<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.blogfy.mapper.AdsInfoMapper" >

    <select id="queryEnabledAdsList" resultType="net.blogfy.entity.AdsInfo">
        select * from t_ads_info
        where show_begin &lt;= now() and show_end >= now()
        order by show_begin asc
    </select>

</mapper>