<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.blogfy.mapper.PostBaseInfoMapper" >

    <select id="queryPostBaseInfoList" resultType="net.blogfy.entity.PostBaseInfo">
        select * from t_post_base_info where 1 = 1
        <if test="status != null">
            and status = #{status}
        </if>
        order by create_date desc
    </select>

</mapper>