<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            padding: 0;
            margin: 10px;
        }

        img {
            width: 280px;
            border: 1px solid rgb(221, 221, 221);
            border-radius: 4px;
            box-shadow: 2px 2px 5px rgb(233, 233, 233);
            cursor: pointer;
        }
    </style>
</head>

<body>
    <div><img src="static/images/IMG_0568.JPG" alt="xxx" href="www.baidu.com"></div>
</body>

</html>