<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Document</title>
	<script th:src="@{/static/js/lib/jquery-1.12.4.min.js}" src="static/js/lib/jquery-1.12.4.min.js"></script>
	<script th:src="@{/static/js/common.js}" src="static/js/common.js"></script>
	<script th:src="@{/static/js/vendor.7be310a.js}" src="static/js/vendor.7be310a.js"></script>
</head>

<body>
	<h2 th:text="${msg}">这是一个测试文档</h2>
</body>

</html>