<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>文章详情页</title>
		<link rel="stylesheet" th:href="@{/static/css/post_detail.css}" href="static/css/post_detail.css" />
		<script th:src="@{/static/js/lib/jquery-1.12.4.min.js}" src="static/js/lib/jquery-1.12.4.min.js"></script>
		<script th:src="@{/static/js/common.js}" src="static/js/common.js"></script>
	</head>

	<body>
		<header>
			<ul id="post_toolbar_menu">
				<li>首页</li>
				<li>归档</li>
				<li>标签</li>
				<li class="right">登录</li>
				<li class="right">关于</li>
			</ul>
		</header>
		<div id="main_container">
			<div class="left">
				<div>1</div>
				<div>2</div>
				<div>3</div>
			</div>
			<div class="right">
				asd
			</div>
		</div>
		<footer>
			这是页脚
		</footer>
	</body>
</html>
