<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<style>
			body {
				margin: 0;
				padding: 0;
				font-size: 0.85em;
				font-weight: lighter;
			}
			div {
				border: 1px solid red;
				height: 40px;
			}
			ul {
				margin-top: 13px;
				list-style: none;
			}
			ul li {
				line-height: 14px;
				margin-left: 20px;
				padding-left: 10px;
				float: left;
				border-left: 3px solid rgb(6, 84, 173);
			}
		</style>
	</head>
	<body>
		<div>
			<ul>
				<li>测试</li>
				<li>b</li>
				<li>c</li>
				<li>d</li>
			</ul>
		</div>
	</body>
</html>
